body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#intro{
    position:fixed;
    inset:0;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:"Courier New", monospace;
    cursor: none;
    pointer-events: none;
}

#introTitle{
    font-size:64px;
    font-weight:bold;
    letter-spacing:4px;
    color:#EDEDED;
    text-shadow:
        0 0 8px rgba(255, 255, 255, 0.216),
        0 0 15px rgba(255, 255, 255, 0.241);

}

#introStatus{
    position:absolute;
    top:58%;
    left:50%;
    transform:translateX(-50%);
    font-size:36px;
    color:#7f8a8d;
    min-width:350px;
    text-align:center;
}



    #First_scene_lobby{
        display: none;
        opacity: 0;
        z-index: 99999;
        transition:opacity 1.2s;
    }
    #First_scene_lobby.active{
        opacity: 1;
    }
    #Second_scene_archive{
        display: none;
    }
    #Third_scene_corridor{
        display: none;
    }
    #Fourth_scene_room{
        display: none;
    }
    #final_Scene{
        display: none;
        position:absolute;
        inset:0;
    }

    #fade {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 9999;
}

    #fade.active {
        opacity: 1;
    }

.background {
    position: absolute;
    width: 100%;
    height: 100%;
}
        #lobbyBG{
            background: url('images/lobby/lobby1.png')no-repeat center center/cover;
        }

        #archiveBG{
            background: url('images//archive/scene_2_archive.png')no-repeat center center/cover;
            
        }
        #archiveDark{
            background: url('images//archive/archive_dark2.png')no-repeat center center/cover;
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 2px;
            top:2px;
        }
        #corridor1{
            background: url('images//corridor/corridor1.png')no-repeat center center/cover;
        }
        #corridor2{
            background: url('images//corridor/corridor2_1.png')no-repeat center center/cover;
            position: absolute;
            width: 106%;
            height: 105%;
            display: none;
            
            
            background-color: black;
        }
        #corridor3{
            background: url('images//corridor/corridor3_1.png')no-repeat center center/cover;
            position: absolute;
            width: 104%;
            height: 105%;
            display: none;
            
        }
        #false_room{
            background: url('images//room/false_room.png')no-repeat center center/cover;
        }
        #true_room{
            background: url('images//room/true_room1.png')no-repeat center center/cover;
            position: absolute;
            width: 100%;
            height: 106%;  
            inset:0;
            opacity:0;
            transition:opacity .3s;
        }
        #diagnosFalse{
            display: none;
            
            background: url('images//room/diagnosFalse1.png')no-repeat center center/cover;
            
        }
        #diagnosTruth{
            
            display: none;
            background: url('images//room/diagnosTruth1.png')no-repeat center center/cover;            
        }
        #wakeupPatient{
            display:none;
            position:absolute;
            inset:0;
            
            top:-30px;
            left:-30px;
            width:calc(100% + 60px);
            height:calc(100% + 60px);

            background:url('images/final/wakeupPatient.png')
            center center/cover no-repeat;
            z-index:10;
            opacity:0;
            filter:
                blur(40px)
                brightness(.15)
                contrast(1.8);

            transform:scale(1.08);
            animation:
            wakeUp 2.2s ease forwards,
            breathing 7s ease-in-out infinite 2.2s;
        }
        #wakeupPatient.off{
            animation: tvOff .32s cubic-bezier(.25,.8,.25,1) forwards;
        }

        @keyframes tvOff{

        0%{
            opacity:1;
            transform:scale(1);
        }

        70%{
            opacity:1;
            transform:scaleY(.02);
            filter:brightness(4);
        }

        90%{
            opacity:1;
            transform:scaleY(.02) scaleX(.08);
        }

        100%{
            opacity:0;
            transform:scale(0);
        }
        }
        @keyframes breathing{

        0%{
        transform:scale(1) translateY(0);
        }

        50%{
        transform:scale(1.01) translateY(5px);
        }

        100%{
        transform:scale(1) translateY(0);
        }

        }
        @keyframes wakeUp{

        0%{
        opacity:0;
        filter:
        blur(40px)
        brightness(.05)
        contrast(2);

        transform:scale(1.08);
        }

        25%{
        opacity:1;
        filter:
        blur(18px)
        brightness(.35)
        contrast(1.7);
        }

        55%{
        filter:
        blur(8px)
        brightness(.8);
        }

        100%{
        opacity:1;
        filter:
        blur(0)
        brightness(1);

        transform:scale(1);
        }

        }
        
        #titry{
            position:fixed;
            inset:0;

            background:black;

            opacity:0;
            pointer-events:none;

            transition:opacity .15s linear;

            z-index:9;
        }
        #tvFlash{
            position:absolute;
            inset:0;
            background:white;
            opacity:0;
            pointer-events:none;
            z-index:11;
        }

        #tvFlash.on{
            animation:tvFlash .08s linear forwards;
        }

        @keyframes tvFlash{

        0%{opacity:0;}

        50%{opacity:.55;}

        100%{opacity:0;}

        }
        #TextTitre{
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);

            font-family:"Bebas Neue", sans-serif;
            font-size:70px;
            letter-spacing:3px;

            color:white;

            text-shadow:
                0 0 12px rgba(255,255,255,.15);
            opacity:0;

            transition:opacity .8s;

            z-index:12;
            user-select:none;
        }

        #finalChooseBG,
        #patientHighlight,
        #doctorHighlight{
            display: none;
            position:absolute;
            inset:0;

            background:url('images/room/final_choose.png')
            center center/cover no-repeat;
        }
        #finalChooseBG{

            filter:brightness(.15);

            transition:filter 2.2s;
        }
        #patientHighlight{
            
            display: block;
            clip-path:polygon(
                0 0,
                50% 0,
                50% 100%,
                0 100%
            );

            opacity:0;

            filter:brightness(1.15);
            transition:.35s
        }
        #doctorHighlight{
            
            display: block;
            clip-path:polygon(
                50% 0,
                100% 0,
                100% 100%,
                50% 100%
            );

            opacity:0;

            filter:brightness(1.15);

            transition:.35s;

        }
        #patientHighlight{

            opacity:0;
            transition:.3s;

        }
        #invisible_button_final_patient{
            display: none;
            top: 50%;
            left: 25%; 
            width: 600px;
            height: 1000px;
            cursor: pointer;
            z-index: 9999999;
        }
        #invisible_button_final_doctor{
            display: none;
            top: 50%;
            left: 74%; 
            width: 600px;
            height: 1000px;
            cursor: pointer;
            z-index: 99999999;
        }
        

#archiveOverlay {
    position:absolute;
    inset:0;
    background:rgba(0, 0, 0, 0);
    opacity:0;
    pointer-events:none;
    transition:opacity .25s ease;
    z-index:2;
}
#archiveOverlay2{
    position:absolute;
    inset:0;
    background:rgba(0, 0, 0, 0.512);
    opacity:0;
    pointer-events:none;
    transition:opacity .25s ease;
    z-index:5;
    backdrop-filter:blur(4px);
}
#archiveOverlay.active{
    opacity:1;
}
#archiveOverlay2.active{
    opacity:1;
}

#invisible_button_lobby {
    position: absolute;
    top: 60%;
    left: 51%; 
    width: 360px;
    height: 490px;
    cursor: pointer;
}

#LobbyInput {
    
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    opacity: 0;
    
}
#LobbyInput.on {
    animation: fadeInInputs 0.5s forwards;
}
#LobbyInput.off {
    animation: fadeOutInputs 0.5s forwards;
}


#LobbyInput input {
        width: 80%;
        margin: 5px 0;
        padding: 10px;
      
    }

#EnterButton{
    
    margin-top: 10px;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s, opacity 0.3s;
    position: relative;
    overflow: hidden;
}
#EnterButton::after {
        content: "Again";
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
     /* При наведенні змінюється текст */
    #EnterButton:hover::after {
        opacity: 1;
    }
        /* Ховаємо початковий текст "Close" при наведенні */
        #EnterButton:hover span {
            opacity: 0;
        }


@keyframes fadeInInputs {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOutInputs {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;  
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;  
    }

    to {
        opacity: 0;      
    }
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}


/*SECOND SCENE---------------------------------------*/
@keyframes animLoginIn {
    from {
        top: 65%;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        top: 40%;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes animLoginOut {
    0% {
   
        top: 40%;
        transform: translate(-50%, -50%) scale(1);
    }
    25%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 65%;
        transform: translate(-50%, -50%) scale(0);
    }
}

.invisible_buttons{
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0);
    border: 0px solid rgba(255, 255, 255, 0);
}

#invisible_button_archive_computer{  
    top: 72%;
    left: 51.5%;  
    width: 165px;
    height: 110px;
    cursor: pointer;
}

#invisible_button_archive_lamp{
    top: 20%;
    left: 50%; 
    width: 120px;
    height: 90px;
}
#invisible_button_archive_paper{
    top: 53%;
    left: 17.5%; 
    width: 75px;
    height: 80px;
    cursor: pointer;
}
#invisible_button_corridor_door{
    top: 55%;
    left: 50.4%;  
    width: 150px;
    height: 190px;
    cursor: pointer;
}
#invisible_button_mirror_room{
    top: 30%;
    left: 80%;  
    width: 335px;
    height: 400px;
    cursor: pointer;
}
#invisible_button_diagnos_room{
    top: 83%;
    left: 61%;  
    width: 200px;
    height: 160px;
    cursor: pointer;
}
#invisible_button_diagnos_back{
    display: none;
    top: 50%;
    left: 15%;  
    width: 450px;
    height: 750px;
    cursor: pointer;
}
#invisible_button_notes{
    display: none;
    top: 92%;
    left: 73.5%; 
    width: 180px;
    height: 130px;
    cursor: pointer;
}
#invisible_button_bed{
    display: none;
    top: 70%;
    left: 15%; 
    width: 400px;
    height: 430px;
    cursor: pointer;
}
#invisible_button_clock{
    display: none;
    top: 85%;
    left: 85.5%; 
    width: 100px;
    height: 130px;
    cursor: pointer;
}
#invisible_button_robe{
    display: none;
    top: 37%;
    left: 52%; 
    width: 180px;
    height: 370px;
    cursor: pointer;
}



#paper{
    position: absolute;
    display: none;
    left: 31%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    
}
@keyframes paperIn{
    from {
        opacity: 0;
        left: 17%;
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        opacity: 1;
        left: 31%;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes paperOut{
    from {
        opacity: 1;
        left: 31%;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        left: 17%;
        transform: translate(-50%, -50%) scale(0);
    }
}
#paper.on{
    animation: paperIn 0.3s forwards;
}
#paper.off{
    animation: paperOut 0.3s forwards;
}

#main_screen{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1050px;
    pointer-events: none;
}
#screen_papki{
    position: absolute;
    display: none;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: 400px;
    pointer-events: none;
}
#invisible_button_windows_papka{
    display: none;
    top: 61%;
    left: 35.5%; 
    width: 100px;
    height: 55px;
    cursor: pointer;
}




#dialogBox{
    position:absolute;
    pointer-events: none;
    left:35%;
    bottom:35px;
    transform:translateX(-50%);

    width:55%;
    min-height:150px;

    padding:30px 35px;

    background:rgba(0,0,0,.55);
    backdrop-filter:blur(6px);

    border:2px solid rgba(120,190,255,.45);
    border-radius:18px;

    box-shadow:
        0 0 25px rgba(90,170,255,.18),
        inset 0 0 35px rgba(255,255,255,.03);

    z-index:999999999;

    display:none;
}
#dialogBox.off{
   animation: fadeOut 0.5s forwards;
}


#dialogName{

    color:#78bfff;

    font-family:Consolas, monospace;

    font-size:30px;

    font-weight:bold;

    letter-spacing:3px;

    margin-bottom:18px;

    text-shadow:0 0 12px rgba(120,190,255,.6);

}
#dialog{

    color:#f5f5f5;

    font-family:Consolas, monospace;

    font-size:24px;

    line-height:1.6;

    white-space:pre-wrap;

    text-shadow:0 0 8px black;
}
#nextArrow{

    position:absolute;

    right:25px;
    bottom:18px;

    color:#78bfff;

    font-size:26px;

    opacity:.3;

    animation:arrow 1s infinite;
}
@keyframes arrow{

    0%{
        transform:translateY(0);
        opacity:.3;
    }

    50%{
        transform:translateY(5px);
        opacity:1;
    }

    100%{
        transform:translateY(0);
        opacity:.3;
    }

}
#dialogBox::before{

    content:"";

    position:absolute;
    inset:0;

    background:
        repeating-linear-gradient(
            180deg,
            rgba(255,255,255,.02) 0px,
            rgba(255,255,255,.02) 2px,
            transparent 3px,
            transparent 5px
        );

    pointer-events:none;
    border-radius:18px;
}
.xp_login {
    transform-origin: center center;
    position: absolute;
    display: none;
    font-family: Tahoma, Arial, sans-serif;
    width: 370px;
    margin: 100px auto;
    border: 2px solid #0a246a;
    background: #ece9d8;
    box-shadow:
        inset 1px 1px #ffffff,
        inset -1px -1px #808080;
    left: 52%;
    top: 40%;
    z-index:10;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 20px rgb(0, 0, 0)
}

#CloseLogin{
    position: absolute;
    left: 92%;
    top: 2%;
    font-weight: bold;
    
    background:linear-gradient(
        140deg,
        #ff5656,
        #ff1010
    );
    color: white;
    backdrop-filter: blur(5px);
    border: solid 1px white;
    border-radius: 3px;
    cursor: pointer;
}
#CloseLogin:hover{
    background:linear-gradient(
        140deg,
        #fc5e5e,
        #ff5555
    );
}
#CloseLogin:active{
    background:linear-gradient(
        140deg,
        #ce0202,
        #bf0a0a
    );
}


#xp_login.on {
    animation: animLoginIn 0.3s forwards;
}
#xp_login.off {
    animation: animLoginOut 0.3s forwards;
}

.xp_titlebar {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;

    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(0, 0, 0);

    background: linear-gradient(
        to bottom,
        #2a7fff,
        #0055d4
    );

    border-bottom: 1px solid #5b8ce9;
}

.xp_content {
    padding: 25px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.row label {
    width: 100px;
    color: black;
    font-size: 14px;
}

.row input {
    width: 300px;
    height: 22px;
    border: 2px inset #d4d0c8;
    background: white;
   

    padding-left: 4px;
    font-family: Tahoma, Arial, sans-serif;
}


.row input[readonly] {
    background: #f5f5f5;
    color: black;
}

#xp_button {
    display: block;
    margin: 25px auto 0;

    width: 90px;
    height: 28px;

    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;

    background: #ece9d8;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;

    cursor: pointer;
}

#xp_button:active {
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.error_message {
    position: absolute;
    text-shadow: 0 0 5px black;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    animation: errorMessages 2s ease-in-out;
    opacity: 0;
    
}

@keyframes errorMessages {
    0%{
        transform: translate(-50%, -80%);
        opacity: 0;
    }
   
    50%{
       
         opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -30%);
          
    }
    
}

.number{
    position:absolute;

    color:white;

    font-size:70px;

    font-family:Tahoma;

    font-weight:bold;

    left:0;
    top:0;

    transform:translate(-50%,-50%);

    pointer-events:none;

    user-select:none;
    animation: burn 2s ease-in-out;
    opacity: 0;
}

@keyframes burn {

    0%{
        opacity:0;
        color:#300;
        text-shadow:none;
        filter:blur(8px);
        transform: translate(-50%, -50%) scale(.7);
    }

    25%{
        opacity:1;
        color:#ff3b00;
        text-shadow:
        0 0 10px red,
        0 0 20px orange;
        transform: translate(-50%, -50%) scale(1);
    }

    45%{
        color:white;
        filter:blur(0);
    }

    70%{
        color:#d8d8d8;
    }

    100%{
        opacity:0;
        filter:blur(10px);
        transform: translate(-50%, calc(-50% - 15px)) scale(.9);
    }

}

.messageCorridors{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    pointer-events: none;
}

#mirror{
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width:600px;
    height:600px;
    z-index: 99999;
    opacity: 0;
}
#mirror.on{
    animation: showMirror 0.5s forwards;
}
#mirror.off{
    animation: hidewMirror 0.25s forwards;
}
@keyframes showMirror{
    from{
        opacity:0;
        scale:0.98;
        filter:blur(20px);
    }
    to{
        opacity:1;
        scale:1;
        filter:blur(0);
    }

}
@keyframes hidewMirror{
    from{
        opacity:1;
        scale:1;
        filter:blur(0);
    }
    to{
        opacity:0;
        scale:0.98;
        filter:blur(20px);
    }

}

#sayItHint{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%) scale(.92);

    font-family:"Courier New", monospace;
    font-size:58px;
    font-weight:bold;

    color:white;

    opacity:0;

    pointer-events:none;

    text-shadow:
        0 0 15px black,
        0 0 35px black;

    z-index:9999999999;

}

#sayItHint.show{

    animation:sayIt .85s ease forwards;

}

@keyframes sayIt{

    0%{
        opacity:0;
        transform:translate(-50%,-50%) scale(.9);
        filter:blur(5px);
    }

    20%{
        opacity:1;
        transform:translate(-50%,-50%) scale(1);
        filter:blur(0);
    }

    80%{
        opacity:1;
    }

    100%{
        opacity:0;
        transform:translate(-50%,-50%) scale(1.03);
        filter:blur(3px);
    }

}

#mirror img{

    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    user-select:none;
    pointer-events:none;
    box-shadow: 0 0px 35px rgb(248, 251, 214)
}


#doctor{
    display: none;
    mask-repeat:no-repeat;
    -webkit-mask-repeat:no-repeat;
}

#notes{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 9999999;
    pointer-events: none;
}



#clockText,
#robeText{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(.95);

    font-family:"Courier New", monospace;
    font-size:35px;
    color:white;

    text-shadow:
        0 0 10px black,
        0 0 30px black;

    opacity:0;
    pointer-events:none;

    z-index:999999999;

    transition:
        opacity .35s,
        transform .35s;
}
#finalText{
    position:absolute;
    left:50%;
    top:50%;

    transform:translate(-50%,-50%) scale(.9);

    font-family:"Courier New", monospace;
    font-size:72px;
    font-weight:bold;

    color:white;

    text-shadow:
        0 0 15px black,
        0 0 40px black;

    z-index:999999999;

    opacity:0;
    pointer-events:none;
}

#finalText.appear{
    animation:finalAppear .55s ease-out forwards;
}

@keyframes finalAppear{

    from{
        opacity:0;
        transform:translate(-50%,-50%) scale(.92);
        filter:blur(6px);
    }

    to{
        opacity:1;
        transform:translate(-50%,-50%) scale(1);
        filter:blur(0);
    }

}
#finalText.move{
    animation:finalMove 1.4s cubic-bezier(.22,.8,.2,1) forwards;
}

@keyframes finalMove{

    from{
        opacity: 1;
        top:50%;
        transform:translate(-50%,-50%) scale(1);
    }

    to{
        opacity: 1;
        top:2%;
        transform:translate(-50%,0) scale(.58);
    }

}

#patientLabel,
#doctorLabel{

    position:absolute;
    top:55%;

    transform:translate(-50%,-50%) scale(.95);

    font-family:"Courier New", monospace;
    font-size:54px;
    font-weight:bold;

    color:white;

    text-shadow:
        0 0 12px black,
        0 0 30px black;

    opacity:0;

    pointer-events:none;
    transform:
        translate(-50%,-42%)
        scale(.97);
    transition:
        opacity .25s ease,
        transform .25s ease;

    z-index:999999999;
}

#patientLabel{

    left:25%;

}

#doctorLabel{

    left:75%;

}

#patientLabel.show,
#doctorLabel.show{

    opacity:1;
    transform:translate(-50%,-50%) scale(1);

}



#clockText.show,
#robeText.show{

    opacity:1;
    transform:
        translate(-50%,-50%)
        scale(1);
}

#roomContainer{
    position:absolute;
    inset:0;
}

#false_room,
#true_room{
    position:absolute;
    inset:0;
}

#false_room{
    opacity:1;
}

#true_room{
    opacity:0;
}

#roomContainer.flash1 #false_room{
    animation:FalseFlash1 0.25s forwards;
}
#roomContainer.flash1 #true_room{
    animation:TrueFlash1 0.25s forwards;
}

#roomContainer.flash2 #false_room{
    animation:FalseFlash2 .85s forwards;
}
#roomContainer.flash2 #true_room{
    animation:TrueFlash2 .85s forwards;
}

#roomContainer.flash3 #false_room{
    animation:FalseFlash3 1.8s forwards;
}
#roomContainer.flash3 #true_room{
    animation:TrueFlash3 1.8s forwards;
}
@keyframes FalseFlash1{

0%{opacity:1;}

78%{opacity:1;}

82%{opacity:.35;}

86%{opacity:.9;}

90%{opacity:.1;}

94%{opacity:1;}

100%{opacity:1;}

}

@keyframes TrueFlash1{

0%{opacity:0;}

78%{opacity:0;}

82%{opacity:.55;}

86%{opacity:.1;}

90%{opacity:.9;}

94%{opacity:0;}

100%{opacity:0;}

}
@keyframes FalseFlash2{

0%{opacity:1;}

14%{opacity:.2;}
20%{opacity:1;}

33%{opacity:.65;}
40%{opacity:.15;}

48%{opacity:1;}

59%{opacity:.45;}
67%{opacity:0;}

76%{opacity:.8;}

86%{opacity:.2;}

100%{opacity:1;}

}

@keyframes TrueFlash2{

0%{opacity:0;}

14%{opacity:.8;}
20%{opacity:0;}

33%{opacity:.35;}
40%{opacity:.9;}

48%{opacity:0;}

59%{opacity:.55;}
67%{opacity:1;}

76%{opacity:.2;}

86%{opacity:.8;}

100%{opacity:0;}

}
@keyframes FalseFlash3{

0%{opacity:1;}

8%{opacity:0;}
12%{opacity:1;}

16%{opacity:.3;}
22%{opacity:1;}

27%{opacity:0;}
34%{opacity:.8;}

40%{opacity:0;}
46%{opacity:1;}

53%{opacity:.15;}
59%{opacity:0;}

66%{opacity:.5;}
72%{opacity:0;}

82%{opacity:.2;}

100%{opacity:0;}

}

@keyframes TrueFlash3{

0%{opacity:0;}

8%{opacity:1;}
12%{opacity:0;}

16%{opacity:.7;}
22%{opacity:0;}

27%{opacity:1;}
34%{opacity:.2;}

40%{opacity:1;}
46%{opacity:0;}

53%{opacity:.8;}
59%{opacity:1;}

66%{opacity:.4;}
72%{opacity:1;}

82%{opacity:.9;}

100%{opacity:1;}

}

#vignetteFlash{
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:999;

    opacity:0;

    background:
    radial-gradient(
        ellipse at center,
        transparent 15%,
        rgba(0,0,0,.15) 40%,
        rgba(0,0,0,.45) 60%,
        rgba(0, 0, 0, 0.915) 100%
    );
}

#roomContainer.flash1 + #vignetteFlash{
    animation:VignetteFlash1 .45s forwards;
}

@keyframes VignetteFlash1{

    0%,70%{
        opacity:0;
    }

    73%{
        opacity:.1;
    }

    76%{
        opacity:0.7;
    }

    100%{
        opacity:0;
    }

}

#roomContainer.flash2 + #vignetteFlash{
    animation:VignetteFlash2 .75s forwards;
}

@keyframes VignetteFlash2{

0%,18%{opacity:0;}

20%{opacity:.5;}

24%{opacity:0;}

39%{opacity:.75;}

43%{opacity:0;}

62%{opacity:.9;}

67%{opacity:0;}

100%{opacity:0;}

}
#roomContainer.flash3 + #vignetteFlash{
    animation:VignetteFlash2 1.8s forwards;
}
@keyframes VignetteFlash3{

0%{
    opacity:0;
    transform:scale(1.15);
}

8%{
    opacity:.6;
    transform:scale(1);
}

12%{
    opacity:0;
}

18%{
    opacity:.8;
    transform:scale(1.08);
}

24%{
    opacity:0;
}



82%{
    opacity:1;
    transform:scale(.95);
}

100%{
    opacity:.95;
    transform:scale(.9);
}

}



